{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'widget.css' %}" rel="stylesheet">
    <link href="{% static 'types.css' %}" rel="stylesheet">
    <link href="{% static 'navigation.css' %}" rel="stylesheet">
    <link href="{% static 'options.css' %}" rel="stylesheet">
    <link href="{% static 'info-card.css' %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/pokemon_edit.js' %}"></script>
    <title>Pokerole_irl</title>
</head>
<body hx-push-url="false">
    {% include "partials/navigation.html" %}
    <div class="content">
        {% block body %}
            {% comment %} Content goes here. {% endcomment %}
        {% endblock body %}
    </div>
</body>
