{% load static %}
<header>
    <div class="header_menu" hx-push-url="true">
        <button type="button" class="burger menu_button" controls-menu="main_menu">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <nav class="closed main_menu menu">
            <a class="button"
               href=""
               hx-get="{% url "index" %}"
               hx-swap="outerHTML"
               hx-trigger="click"
               hx-target=".content"
               hx-select=".content">Home</a>
            <a class="button"
               href=""
               hx-get="{% url "pokedex_list" %}"
               hx-swap="outerHTML"
               hx-trigger="click"
               hx-target=".content"
               hx-select=".content">Pokédex</a>
            <a class="button"
               href=""
               hx-get="{% url "all_species" %}"
               hx-swap="outerHTML"
               hx-trigger="click"
               hx-target=".content"
               hx-select=".content">All Species</a>
            {% if request.user.is_authenticated %}
                <a class="button" href="{% url "user-profile-me" %}">Profile</a>
            {% else %}
                <a class="button" href="{% url "login" %}">Log In</a>
            {% endif %}
        </nav>
    </div>
    <div class="overlay" />
</header>
<script src="{% static "js/menu.js" %}"></script>
