{% load static %}

<head>
    <link href="{% static 'filter.css' %}" rel="stylesheet">
</head>

<div class="options_menu">
    {% if "/entries" in request.path and request.user.is_superuser or is_owner %}
    <div class="editor_menu menu closed">
        <a class="button" href="{% url 'pokedex_entry_add' pokedex.pk %}">Add entry</a>
        <a class="button" href="{% url 'pokedex_edit' pokedex.pk %}">Edit pokédex</a>
        <a class="button" href="{% url 'pokedex_delete' pokedex.pk %}">Delete pokédex</a>
    </div>
    {% endif %}
    {% if types %}
    <div class="filter_menu menu closed">
        <div class="filters">
            <form method="get">
                <input class="search" name="search" id="id_search" type="search" value="{{ search_field }}" placeholder="Search for a pokémon"/>
                <select class="types" name="types" id="id_types" multiple value="{{ filtered_types }}">
                    {% for type in types %}
                    <option value="{{ type.pk }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if entry and request.user.is_superuser or is_owner %}
    <div class="editor_menu menu closed">
            <a class="button" href="{% url 'pokedex_entry_add' pokedex.pk %}">Add entry</a>
            <a class="button" href="{% url 'pokedex_entry_edit' pokedex.pk entry.pk %}">Edit entry</a>
            <a class="button" href="{% url 'pokedex_entry_delete' pokedex.pk entry.pk %}">Delete entry</a>
    </div>
    {% endif %}

    <div class="buttons">
        {% if types %}
        <button type="button" class="filter menu_button" controls-menu="filter_menu">
            <span class="material-symbols-outlined">
                filter_list
            </span>
        </button>
        {% endif %}
        {% if not pokedexes and "/pokedexes" in request.path or "/species" in request.path and request.user.is_superuser or is_owner %}
        <button type="button" id="editor_menu_button" class="editor menu_button" controls-menu="editor_menu">
            <span class="material-symbols-outlined">
                settings
            </span>
        </button>
        {% endif %}
        {% if pokedexes %}
        <a class="button" title="Add pokédex" href="{% url 'pokedex_add' %}">
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
        {% endif %}
    </div>
</div>