{% for entry in entries %}
    {% if forloop.last and page_obj.has_next %}
        <tr name="load-next-page"
            hx-get="{% url "pokedex_entries" pokedex.pk %}?page={{ page_obj.next_page_number }}"
            hx-trigger="intersect once"
            hx-swap="afterend">
        {% else %}
            <tr>
            {% endif %}
            <td class="prio-1">#{{ entry.number }}</td>
            <td class="prio-1">
                <img height=""
                     width=""
                     alt="Image of {{ entry.species.name }}"
                     src="{{ entry.species.box_image }}" />
            </td>
            <td class="prio-1">
                <a href=""
                   hx-push-url="true"
                   hx-get="{% url "pokedex_entry" pokedex.pk entry.pk %}"
                   hx-trigger="click from:closest tr"
                   hx-target=".content"
                   hx-select=".content"
                   hx-swap="outerHTML">{{ entry.species.name }}</a>
            </td>
            <td class="prio-2"
                title="Weaknesses: {{ entry.species.weaknesses }}; Resistances: {{ entry.species.resistances }}">
                <span class="{{ entry.species.primary_type|lower }} type">{{ entry.species.primary_type|upper }}</span>
                {% if entry.species.secondary_type %}
                    <span class="{{ entry.species.secondary_type|lower }} type">{{ entry.species.secondary_type|upper }}</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
