{% load static %}

{% include "partials/header.html" %}

<head>
  <link href="{% static 'species-detail.css' %}" rel="stylesheet">
</head>

<body>
  <div class="species-detail widget">
      <h1>{{ character.first_name }} {{ character.last_name }}</h1>
      <div class="species-description">
        <div class="species-height-weight">
          <span>
              <div class="header">Description</div>
              <div>{{ character.description }}</div>
          </span>
        </div>
      </div>
      <div class="owned_pokemon">
        {% for pokemon in character.owned_pokemon.all %}
          <div class="pokemon">
            <img src="{{ pokemon.species.box_image }}"/>
            <a href="{{ pokemon.get_absolute_url }}">{{ pokemon.name }}</a>
          </div>
        {% endfor %}
        <a href="{% url "pokemon_add_for" world.slug character.slug %}">Add pokémon</a>
      </div>
      <div class="links">
        <a href="{%url "world" character.world.slug %}"> Back To Setting </a>
      </div>
  </div>

</body>