{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>Pokerole_irl</title>
</head>

<body>
    <h1>All Pokémon species</h1>

    <table class="species-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Types</th>
                <th>Abilities</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Evolutions</th>
                <th>Base HP</th>
                <th>Strength</th>
                <th>Dexterity</th>
                <th>Vitality</th>
                <th>Special</th>
                <th>Insight</th>
                <th>Moveset</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in species %}
                <tr>
                    <td title="{{ pokemon.description }}">{{ pokemon }}</td>
                    <td title="Weaknesses: {{ pokemon.weaknesses }}; Resistances: {{ pokemon.resistances }}"><ul>
                            <li>{{ pokemon.primary_type }}</li>
                            {% if pokemon.secondary_type %}
                            <li>{{ pokemon.secondary_type }}</li>
                            {% endif %}
                    </ul></td>
                    <td><ul>
                        {% for ability in pokemon.abilities.all %}
                            <li title="{{ ability.effect }}">{{ ability }}</li>
                        {% endfor %}
                    </td></ul>
                    <td>{{ pokemon.height }}m/{{ pokemon.height_ft }}ft</td>
                    <td>{{ pokemon.weight }}kg/{{ pokemon.weight_lbs }}lbs</td>
                    <td><ul>
                        {% for evo in pokemon.evolutions.all %}
                            <li>{{ evo }}</li>
                        {% endfor %}
                    </td></ul>
                    <td>{{ pokemon.base_hp }}</td>
                    <td>{{ pokemon.base_strength }}/{{ pokemon.max_strength }}</td>
                    <td>{{ pokemon.base_dexterity }}/{{ pokemon.max_dexterity }}</td>
                    <td>{{ pokemon.base_vitality }}/{{ pokemon.max_vitality }}</td>
                    <td>{{ pokemon.base_special }}/{{ pokemon.max_special }}</td>
                    <td>{{ pokemon.base_insight }}/{{ pokemon.max_insight }}</td>
                    <td><ul>
                    {% for move in pokemon.moveset.all %}
                        <li title="{{ move.description }}">{{ move }}</li>
                    {% endfor %}
                    </ul></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>