{% load static %}

{% include "partials/header.html" %}

<head>
    <link href="{% static 'form.css' %}" rel="stylesheet">
</head>

<body>

    <div class="widget">
        <h1>Delete Pokédex</h1>
        <form class="delete_form form" method="post">
            {% csrf_token %}

            <p>Are you sure you want to delete "{{ name }}"? This action cannot be reversed.</p>

            <button class="submit_button" type="submit" value="Delete">Delete</button>

        </form>

    </div>

</body>