{% load static %}

{% include "partials/header.html" %}

<head>
    <link href="{% static 'types.css' %}" rel="stylesheet">
</head>

<body>
    <div class="move widget">
        <h1>{{ move.name }}</h1>

        <div><i>{{ move.description }}</i></div>

        <table class="move-table">
            <tbody>
                <tr>
                    <td>Type:</td>
                    <td><span class="{{ move.move_type|lower }} type">{{ move.move_type|upper }}</span></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>{{ move.damage_type }}</td>
                </tr>
            </tbody>
        </table>
        
        
    <div>

</body>