{% extends "partials/base.html" %}
{% load static %}
{% load utilities %}
{% block body %}
    <link href="{% static 'species-detail.css' %}" rel="stylesheet">
    <div class="species-detail widget">
        <h1>{{ pokemon.name }}</h1>
        <div class="details-container">
            <img class="species-image" src="{{ pokemon.species.book_image }}" />
            <div class="species-description">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <b>Species:</b>
                            </td>
                            <td>
                                <a href="{{ pokemon.species.get_absolute_url }}">{{ pokemon.species }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Nature:</b>
                            </td>
                            <td title="{{ nature.description }}">{{ nature }}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Owner:</b>
                            </td>
                            <td>{{ owner }}</td>
                        </tr>
                        {% if trainer %}
                            <tr>
                                <td>
                                    <b>Trainer:</b>
                                </td>
                                <td>
                                    <a href="{{ trainer.get_absolute_url }}">{{ trainer }}</a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <b>Rank:</b>
                            </td>
                            <td>{{ pokemon.get_rank_display }}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Battles:</b>
                            </td>
                            <td>{{ pokemon.battle_count }}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Victories:</b>
                            </td>
                            <td>{{ pokemon.victory_count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="info-body">
            <div class="column">
                <table class="info-table">
                    <tbody>
                        <tr>
                            <td>Type:</td>
                            <td>
                                <span class="{{ pokemon.species.primary_type|lower }} type">{{ pokemon.species.primary_type|upper }}</span>
                                {% if pokemon.species.secondary_type %}
                                    <span class="{{ pokemon.species.secondary_type|lower }} type">{{ pokemon.species.secondary_type|upper }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Ability:</td>
                            <td>
                                <ul class="comma-list">
                                    {% for ability in pokemon.species.abilities.all %}
                                        <!-- Turning djlint off the avoid unwanted whitespace -->
                                        <!--djlint:off--><li class="show-info-card"><a href="{% url "ability" ability.pk %}">{{ ability.name }}</a></li><!--djlint:on-->
                                        <div class="ability info-card"
                                             hx-get="{% url "ability" ability.pk %}"
                                             hx-swap="innerHTML"
                                             hx-trigger="revealed"
                                             hx-target="this"></div>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% if pokemon.species.hidden_ability %}
                            <tr>
                                <td>Hidden:</td>
                                <td>
                                    <a class="show-info-card"
                                       href="{% url "ability" pokemon.species.hidden_ability.pk %}">{{ pokemon.species.hidden_ability }}</a>
                                    <div class="ability info-card"
                                         hx-get="{% url "ability" pokemon.species.hidden_ability.pk %}"
                                         hx-swap="innerHTML"
                                         hx-trigger="revealed"
                                         hx-target="this"></div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <table class="stat-table">
                    <tbody>
                        <tr>
                            <td>HP</td>
                            <td>
                                <div class="hp-val">{{ pokemon.hp }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Will</td>
                            <td>
                                <div class="hp-val">{{ pokemon.will }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Initiative</td>
                            <td>
                                <div class="hp-val">{{ pokemon.initiative }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Physical Clash</td>
                            <td>
                                <div class="hp-val">{{ pokemon.physical_clash }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Special Clash</td>
                            <td>
                                <div class="hp-val">{{ pokemon.special_clash }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Evasion</td>
                            <td>
                                <div class="hp-val">{{ pokemon.evade }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Defense</td>
                            <td>
                                <div class="hp-val">{{ pokemon.defense }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Special Defense</td>
                            <td>
                                <div class="hp-val">{{ pokemon.special_defense }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <h2>Attributes</h2>
                <table class="stat-table">
                    <tbody>
                        <tr>
                            <td colspan="2">Strength</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.strength pokemon.species.max_strength %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Dexterity</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.dexterity pokemon.species.max_dexterity %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Vitality</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.vitality pokemon.species.max_vitality %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Special</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.special pokemon.species.max_special %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Insight</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.insight pokemon.species.max_insight %}</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Social attributes</h2>
                <table class="stat-table">
                    <tbody>
                        <tr>
                            <td colspan="2">Tough</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.tough 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Cool</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.cool 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Beauty</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.beauty 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Cute</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.cute 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Clever</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.clever 5 %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <h2>Skills</h2>
                <table class="stat-table">
                    <tbody>
                        <tr>
                            <td colspan="2">Brawl</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.brawl 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Channel</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.channel 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Clash</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.clash 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Evasion</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.evasion 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Alert</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.alert 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Athletic</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.athletic 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Nature</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.nature 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Stealth</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.stealth 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Allure</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.allure 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Etiquette</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.etiquette 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Intimidate</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.intimidate 5 %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">perform</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.perform 5 %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="moves">
            {% for move in moves %}
                <div class="move">
                    <h2>{{ move.name }}</h2>
                    <div>
                        <i>{{ move.description }}</i>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Type:</td>
                                <td>
                                    <span title="{{ move.effectiveness }}"
                                          class="{{ move.move_type|lower }} type">{{ move.move_type|upper }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>{{ move.damage_type }}</td>
                            </tr>
                            <tr>
                                <td>Accuracy:</td>
                                <td>
                                    {% calc_accuracy move pokemon %} ({{ move.primary_accuracy }}
                                    {% if move.secondary_accuracy %}+ {{ move.secondary_accuracy }}{% endif %}
                                    )
                                </td>
                            </tr>
                            {% if move.damage_stat %}
                                <tr>
                                    <td>Damage pool:</td>
                                    <td>
                                        {% calc_damage move pokemon %} ({{ move.damage_stat }} + {{ move.power }}
                                        {% if move.damage_modifier %}+ {{ damage_modifier }}{% endif %}
                                        )
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Effect:</td>
                                <td>{{ move.effect }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
