{% extends "partials/base.html" %}
{% load static %}
{% block body %}
    <head>
        <link href="{% static 'widget-table.css' %}" rel="stylesheet">
    </head>
    <div class="pokedex big widget">
        <h1 {% if pokedex.owner %}title="Owned by {{ pokedex.owner }}"{% endif %}>{{ pokedex.name }}</h1>
        <table class="species-table">
            <tbody>
                {% include "partials/pokedex_elements.html" %}
            </tbody>
        </table>
    </div>
    {% include "partials/pokedex_options.html" %}
{% endblock body %}
