{% extends "partials/base.html" %}
{% load static %}
{% block body %}
    <head>
        <link href="{% static 'widget-table.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="pokedex big widget">
            <h1>Pokédexes</h1>
            {% if pokedexes %}
                <table class="pokedex-table">
                    <tbody class="pokedex-body">
                        {% include "partials/pokedex_list_elements.html" %}
                    </tbody>
                </table>
            {% else %}
                No pokedexes found ... Sorry!
            {% endif %}
        </div>
        {% include "partials/pokedex_list_options.html" %}
    </body>
{% endblock body %}
