{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>Pokerole_irl</title>
</head>

<body>
    <h1>{{ pokedex }}</h1>

    <table class="species-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in pokedex.pokedexentry_set.all %}
            <tr>
                <td>{{ entry.number }}</td>
                <td><img src="{{ entry.species.box_image }}"/></td>
                <td><a href="{% url "species" entry.species.pk %}">{{ entry.species.name }}</a></td>
                <td>{{ entry.species.category }}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</body>