{% load static %}
{% load utilities %}

{% include "partials/header.html" %}

<head>
    <link href="{% static 'species-detail.css' %}" rel="stylesheet">
</head>

<body>
    <div class="species-detail widget">
        <h1>#{% if entry %}{{entry.number}}{% else %}{{ pokemon.number }}{% endif %}: {{ pokemon.name }}</h1>
        <div class="species-category">{{ pokemon.category }}</div>
        <div class="details-container">
            <img class="species-image" src="{{ pokemon.book_image }}"/>
            <div class="species-description">
                {% if entry.description %}
                "{{ entry.description }}"
                {% else %}
                "{{ pokemon.description }}"
                {% endif %}
                {% if pokemon.good_starter %}
                    <p class="other-info">Good starter</p>
                {% endif %}
                {% if pokemon.legendary %}
                    <p class="other-info">Legendary</p>
                {% endif %}
                <div class="species-height-weight">
                    <span>
                        <div class="header">Height</div>
                        <div>{{ pokemon.height_m }}/{{ pokemon.height_ft }}</div>
                    </span>
                    <span>
                        <div class="header">Weight</div>
                        <div>{{ pokemon.weight_kg }}/{{ pokemon.weight_lbs }}</div>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="info-body">
            <div class="column">
                <table class="info-table">
                    <tbody>
                        <tr>
                            <td>Type:</td>
                            <td>{{ pokemon.types }}</td>
                        </tr>
                        <tr>
                            <td>Ability:</td>
                            <td><ul class="comma-list">
                                {% for ability in pokemon.abilities.all %}
                                <li title="{{ ability.effect }}">{{ ability.name }}</li>
                                {% endfor %}
                            </ul></td>
                        </tr>
                        {% if pokemon.hidden_ability %}
                        <tr>
                            <td>Hidden:</td>
                            <td title="{{ pokemon.hidden_ability.effect }}">{{ pokemon.hidden_ability }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Rec. rank:</td>
                            <td>{{ pokemon.recommended_rank }}</td>
                        </tr>
                        {% if entry and entry.rarity %}
                        <tr>
                            <td>Rarity:</td>
                            <td>{{ entry.get_rarity_display }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <table class="stat-table">
                    <tbody>
                        <tr>
                            <td>Base HP</td>
                            <td><div class="hp-val">{{ pokemon.base_hp }}</div></td>
                        </tr>
                        <tr>
                            <td colspan="2">Strength</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.base_strength pokemon.max_strength %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Dexterity</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.base_dexterity pokemon.max_dexterity %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Vitality</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.base_vitality pokemon.max_vitality %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Special</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.base_special pokemon.max_special %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Insight</td>
                        </tr>
                        <tr>
                            <td colspan="2">{% stat_graphic pokemon.base_insight pokemon.max_insight %}</td>
                        </tr>
                    </tbody>
                </table>
                {% if evolutions.exists %}
                <h2>Evolutions</h2>
                <ul class="evolutions">
                    {% for evolution in evolutions.all %}
                    <li>
                        <img src="{{ evolution.to_species.box_image }}"/>
                        <div>
                            <div>
                                {% comment %} <a href="{% url "species" evolution.to_species.pk %}"> {% endcomment %}
                                    {{ evolution.to_species.name }}
                                {% comment %} </a> {% endcomment %}
                            </div>
                            <div class="evolution-details">
                                <span>{{ evolution.kind }}</span><span>{{ evolution.speed }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if preevolution.exists %}
                <h2>Pre-evolution</h2>
                <ul class="evolutions">
                    {% for preevolution in preevolution.all %}
                    <li>
                        <img src="{{ preevolution.from_species.box_image }}"/>
                        <div>
                            <div>
                                {% comment %} <a href="{% url "species" preevolution.from_species.pk %}"> {% endcomment %}
                                    {{ preevolution.from_species.name }}
                                {% comment %} </a> {% endcomment %}
                            </div>
                            <div class="evolution-details">
                                <span>{{ preevolution.kind }}</span><span>{{ preevolution.speed }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="column">
                <table class="move-table">
                    <tbody>
                        <tr>
                            <th>Move</th>
                            <th>Rank</th>
                        </tr>
                        {% for move in moveset %}
                        <tr>
                            <td title="{{ move.move.effect }}">{{ move.move.name }}</td>
                            <td>{{ move.learned }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="links">
                    <a class="back-link button" href="javascript:history.back()">Back</a>
                    {% if pokedex %}
                    <a class="back-link button" href="{% url "pokedex_entries" pokedex.pk %}">Back to {{ pokedex.name }}</a>
                    {% else %}
                    <a class="back-link button" href="{% url "all_species" %}">Back to species</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if request.user.is_superuser or is_owner and entry %}
    <div class="editor_menu">
        <div class="add_button">
            <a class="button" href="{% url 'pokedex_entry_add' pokedex.pk %}">Add entry</a>
        </div>
        <div class="edit_button">
            <a class="button" href="{% url 'pokedex_entry_edit' pokedex.pk entry.pk %}">Edit entry</a>
        </div>
        <div class="delete_button">
            <a class="button" href="{% url 'pokedex_entry_delete' pokedex.pk entry.pk %}">Delete entry</a>
        </div>
    </div>
    {% endif %}

</body>