.info-card {
    display: none;
    position: fixed;
    background-color: white;
    border-radius: var(--info-card-corner-radius);
    box-shadow: var(--info-card-shadow);
    padding: 0.5rem 1.5rem;
    top: 20vh;
    margin: 1rem;
    left: 0px;
    max-width: min(500px, 100vw - 2rem);
}

.show-info-card:hover+.info-card {
    display: block;
}

.info-card:hover {
    display: block;
}