input[type=number].simple_number {
    width: 2rem;
    border: none;
    cursor: default;
    font-size: 2rem;
    text-align: center;

    /* Remove arrows from field */
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type=number].simple_number:focus {
    outline: none;
}