body {
    padding-top: 5rem;
    min-height: calc(100vh - 5rem);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header .header_menu {
    position: fixed;
    width: 100%;
    background-color: var(--color-bg);
    border-bottom: 2px solid var(--color-edges);
    height: fit-content;
    top: 0;
    max-width: 800px;
    z-index: 3;
}

.header_menu .burger {
    margin: 0.2rem 0;
    margin-left: 82%;
    padding: 0.2rem;
}

.header_menu .burger span {
    margin: 0.5rem;
}

.header_menu a {
    margin: 0.2rem 0;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.header_menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.overlay.visible {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    display: none;
}

@media (min-width: 500px) {
    header nav {
        flex-direction: row;
        border-left: 2px solid var(--color-edges);
        border-right: 2px solid var(--color-edges);
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        max-width: 500px;
    }

    nav a {
        display: block;
        margin: 1rem 0;
        width: 6rem;
    }

    nav .burger {
        display: none;
    }

    .closed {
        display: block;
    }

    .overlay {
        display: none;
    }
}