h1 {
    color: red;
}

h2 {
    color: blue;
}

body {
    background-color: black;
}

div {
    border: 1px solid black;

    .BOX {
        width: 400px;
        height: 400px;
        color: blue;
    }
}