:root {
    --color-header-bg: #ef6f6c;
    --color-header-active: #e9a9a8;
    --button-corner-radius: 0.5rem;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.content {
    margin: 0.5rem;
}

ul.comma-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comma-list li {
    display: inline;
}

.comma-list li:not(:last-child)::after {
    content: ", "
}

button {
    background-color: var(--color-header-bg);
    border: none;
    padding: 0.5rem;
    border-radius: var(--button-corner-radius);
    transition: background-color 0.2s linear;
    cursor: pointer;
}

button.cancel:hover,
button:hover {
    background-color: var(--color-header-active);
}

button.cancel {
    background-color: grey;
}