:root {
    --color-text: #67595E;
    --color-bg: #EED6D3;
    --color-edges: #A49393;
    --color-secondary: #E8B4B8;
    --color-error: #701111;
    --button-border-radius: 1rem;
}


body {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

body.centered {
    align-items: center;
}

.comma-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comma-list li {
    display: inline;
}

.comma-list li:not(:last-child)::after {
    content: ", "
}

.widget {
    padding: 2rem;
    height: fit-content;
    background-color: rgba(100, 100, 100, 0.1);
    width: 100%;
    margin-bottom: 5rem;
}

.widget h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button,
a.button {
    background-color: var(--color-edges);
    border: none;
    border-radius: var(--button-border-radius);
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    padding: 0.7rem;
}

button:hover,
a.button:hover {
    background-color: var(--color-secondary);
}

a.button {
    text-decoration: none;
}

a:not(.button) {
    text-decoration: none;
    color: var(--color-text);
    transition: color 200ms linear;
}

a:not(.button):hover {
    color: var(--color-edges);
}

.submit_button {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    width: 15rem;
    font-size: larger;
    font-variant: small-caps;
}

.field {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.field input,
.field select {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid var(--color-edges);
    font-size: larger;
    height: 2rem;
    box-sizing: border-box;
    text-align: center;
    color: var(--color-text);
}

.field input:focus-visible {
    outline: none;
}

.field_error {
    color: var(--color-error);
    font-size: small;
    max-width: 15rem;
}

.editor_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: var(--color-bg);
    border-top: 2px solid var(--color-edges);
    height: fit-content;
    padding: 1.5rem;
    bottom: 0;
    max-width: 800px;
}

@media (min-width: 500px) {
    .widget {
        border-radius: 2rem;
        width: fit-content;
        margin-top: 2rem;
    }

    .big.widget {
        margin: 1rem;
        width: 100%;
        max-width: 800px;
    }

    .full.widget {
        margin: 1rem;
        width: 100%;
    }

    .editor_menu {
        max-width: 500px;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-left: 2px solid var(--color-edges);
        border-right: 2px solid var(--color-edges);
    }
}