.pokedex-table {
    width: 100%;
    border-collapse: collapse;
}


.pokedex-table tr a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.pokedex-table td {
    padding: 0;
}

.pokedex-table tr:nth-of-type(2n) a {
    background-color: var(--color-header-bg);
}

.pokedex-table tr a:hover {
    background-color: var(--color-header-active);
}