.pokedex-table,
.species-table {
    width: 100%;
    border-collapse: collapse;
}

.pokedex-table tbody tr,
.species-table tbody tr {
    height: 60px;
}

.pokedex-table tr a,
.species-table tr a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.pokedex-table td,
.species-table td {
    padding: 0;
}

.pokedex-table tr,
.species-table tr {
    cursor: pointer;
}

.pokedex-table tr:nth-of-type(2n),
.species-table tr:nth-of-type(2n) {
    background-color: var(--color-header-bg);
}

.pokedex-table tr:hover,
.species-table tr:hover {
    background-color: var(--color-header-active);
}

.species-category {
    font-style: italic;
}

.details-container img {
    width: 100%;
    max-width: 400px;
}

.species-description {
    margin-top: 1rem;
}

.species-height-weight {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.species-height-weight span {
    display: inline-block;
}

.species-height-weight span div {
    text-align: center;
}

.species-height-weight .header {
    font-weight: bold;
}

.info-table {
    margin: 1rem 0;
}

.info-table td {
    padding: 0.2rem 0;
}