.pokedex-table {
    width: 100%;
    border-collapse: collapse;
}

.pokedex-table tbody tr {
    height: 60px;
}

.pokedex-table tr a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.pokedex-table td {
    padding: 0;
}

.pokedex-table tr {
    cursor: pointer;
}

.pokedex-table tr:nth-of-type(2n) {
    background-color: var(--color-header-bg);
}

.pokedex-table tr:hover {
    background-color: var(--color-header-active);
}