{% extends "partials/base.html" %}
{% load static %}
{% block body %}
    <head>
        <link href="{% static 'login.css' %}" rel="stylesheet">
    </head>
    <div class="login widget">
        {% if form.errors %}{{ form.errors }}{% endif %}
        <form method="post" action="{% url 'login' %}" class="login_form">
            {% csrf_token %}
            <div class="field">
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
            <button class="login_button" type="submit" value="login">Log In</button>
        </form>
        <p class="register-message">
            Don't have an account yet? <a href=""
    hx-get="{% url "register" %}"
    hx-swap="outerHTML"
    hx-target=".content"
    hx-select=".content"
    hx-push-url="true">Register.</a>
        </p>
    </div>
    <div class="BOX"></div>
{% endblock body %}
