
{% load static %}

{% include "partials/header.html" %}

<head>
    <link href="{% static 'login.css' %}" rel="stylesheet">
</head>

<body>
    <div class="login widget">
        {% if form.errors %}
        <p> Something went wrong!</p>
        {% endif %}

        {% if next %}
        <p>Can't access that page.</p>
        {% endif %}

        <form method="post" action="{%url 'login' %}" class="login_form">
            {% csrf_token %}

            <div class="field">
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>

            <div class="field">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
        
            <input class="login_button" type="submit" value="login">
        </form>
    </div>
</body>

<div class="BOX"></div>

</html>