{% load static %}

{% include "partials/header.html" %}

<head>
    <link href="{% static 'login.css' %}" rel="stylesheet">
</head>

<body>
    <div class="register widget">
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}

            <div class="field">
                <label for="id_username">Username</label>
                {{ form.username }}
                <div>
                {% for error in form.username.errors %}
                    <div class="field_error">
                        {{ error }}
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="field">
                <label for="id_email">Email address</label>
                {{ form.email }}
                <div>
                {% for error in form.email.errors %}
                    <div class="field_error">
                        {{ error }}
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="field">
                <label for="id_password1">Password</label>
                {{ form.password1 }}
                <div>
                {% for error in form.password1.errors %}
                    <div class="field_error">
                        {{ error }}
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="field">
                <label for="id_password2">Confirm Password</label>
                {{ form.password2 }}
                <div>
                {% for error in form.password2.errors %}
                    <div class="field_error">
                        {{ error }}
                    </div>
                {% endfor %}
                </div>
            </div>

            <button class="login_button" type="submit" value="Register">Register</button>
        </form>
    </div>
</body>

</html>